html{
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

main {
  display: flex;
  padding: 10px;
}

/* LABELING */

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #FFFFFF;
  color: #0C0C0C;
}

header {
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 18px;
  padding: 10px;
}

h1, h3 {
    color: #0C0C0C;
    justify-content: center;
}

/* NAV */

nav {
    display: block;
    height: 100%;
    width: 300px;
    min-width: 250px;
    padding: 20px;
    background-color: #EEF1F7;
    top: 0;
    left: 0;
}

ul > div:hover {
  opacity: .5;
}

.add {
  display: flex;
  justify-content: space-around;
}

/* MAIN COLUMN */

#mainBlock {
    display: inline;
    flex:auto;
    background-color:#FFFFFF;
    padding: 20px;
}

/* INPUTS */

input{
    background-color: #FFFFFF;
    height: 34px;
    border-radius: 6px;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: black;
    cursor: text;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 5px;
    position: relative;
    vertical-align: middle;

}

/* BUTTONS */
button {
  appearance: none;
  height: 34px;
  background-color: #22B060;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  background-color: #2c974b;
}

button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}